<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

	<Identity
		Name="C19A3696.28439CB846862"
		Publisher="CN=D8BFD4E9-94E2-482B-A987-F96C72D65FDF"
		Version="0.5.2.0" />

	<mp:PhoneIdentity PhoneProductId="4b2c875e-db2d-4ef4-938e-760bd94fe9a8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>无羁 音乐播放器</DisplayName>
		<PublisherDisplayName>蓝忘机</PublisherDisplayName>
		<Logo>Assets\AppIcon\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="ms-resource:AppDisplayName"
			  Description="ms-resource:AppDescription"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\AppIcon\MedTile.png"
              Square44x44Logo="Assets\AppIcon\AppList.png">
				<uap:DefaultTile Wide310x150Logo="Assets\AppIcon\WideTile.png"  Square71x71Logo="Assets\AppIcon\SmallTile.png" Square310x310Logo="Assets\AppIcon\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\AppIcon\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Assets\AppIcon\BadgeLogo.png" Notification="badgeAndTileText"/>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="fileassociations">
						<uap:Logo>Assets\AppIcon\FileExtension.png</uap:Logo>
						<uap:SupportedFileTypes>
							<uap:FileType>.mp3</uap:FileType>
							<uap:FileType>.flac</uap:FileType>
							<uap:FileType>.ogg</uap:FileType>
							<uap:FileType>.m4a</uap:FileType>
							<uap:FileType>.wav</uap:FileType>
							<uap:FileType>.mp2</uap:FileType>
							<uap:FileType>.mp1</uap:FileType>
							<uap:FileType>.aif</uap:FileType>
							<uap:FileType>.aiff</uap:FileType>
							<uap:FileType>.m2a</uap:FileType>
							<uap:FileType>.m1a</uap:FileType>
							<uap:FileType>.mp3pro</uap:FileType>
							<uap:FileType>.bwf</uap:FileType>
						</uap:SupportedFileTypes>
					</uap:FileTypeAssociation>
				</uap:Extension>

				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="a76c0e5a-b343-4b7b-9c1e-01a6a0f1fc39" />
				</desktop:Extension>

				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="UntamedMusicPlayer.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
							<com:Class Id="a76c0e5a-b343-4b7b-9c1e-01a6a0f1fc39" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<uap:Capability Name="musicLibrary"/>
		<uap3:Capability Name="backgroundMediaPlayback"/>
	</Capabilities>
</Package>
